In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lahiru\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\lahiru\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd

C:\Users\Lahiru\AppData\Local\Temp\ipykernel_13604\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
url = "F:\M 20.02.2023\downloads\Mobile_Price_Classification-220531-204702.csv"
data = pd.read_csv(url,encoding='latin-1')
data.head()

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Lahiru\AppData\Local\Temp\ipykernel_13604\2266567766.py:1: SyntaxWarning: invalid escape sequence '\M'
  url = "F:\M 20.02.2023\downloads\Mobile_Price_Classification-220531-204702.csv"

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [6]:
data.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,0.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,0.500125
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.000000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,0.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,1.000000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
data.head(5)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [8]:
data.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [9]:
data.shape

(2000, 21)

In [10]:
data.isnull()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
data.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [12]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.3 KB

In [13]:
data.head(2)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,0

In [14]:
data.corr()['price_range']

battery_power    0.150026
blue             0.018001
clock_speed     -0.021758
dual_sim         0.021004
fc               0.004262
four_g           0.031029
int_memory       0.055096
m_dep            0.039016
mobile_wt       -0.051821
n_cores         -0.052683
pc               0.019875
px_height        0.136953
px_width         0.137373
ram              0.405868
sc_h             0.033118
sc_w             0.015843
talk_time        0.040091
three_g          0.003520
touch_screen     0.012000
wifi             0.014001
price_range      1.000000
Name: price_range, dtype: float64

In [15]:
data['blue'].value_counts()

blue
0    1010
1     990
Name: count, dtype: int64

In [16]:
data['ram'].value_counts()

ram
1464    4
3142    4
2610    4
2227    4
1229    4
       ..
2312    1
2167    1
3508    1
297     1
3919    1
Name: count, Length: 1562, dtype: int64

In [17]:
data.head(4)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,0

In [18]:
data=data.drop(columns=['blue','clock_speed','dual_sim','fc','four_g','int_memory','m_dep','mobile_wt','n_cores','sc_h','sc_w'])

In [19]:
data.head(5)

,battery_power,pc,px_height,px_width,ram,talk_time,three_g,touch_screen,wifi,price_range
0,842,2,20,756,2549,19,0,0,1,1
1,1021,6,905,1988,2631,7,1,1,0,0
2,563,6,1263,1716,2603,9,1,1,0,0
3,615,9,1216,1786,2769,11,1,0,0,0
4,1821,14,1208,1212,1411,15,1,1,0,1

In [20]:
data=pd.get_dummies(data)

In [21]:
data.head(3)

,battery_power,pc,px_height,px_width,ram,talk_time,three_g,touch_screen,wifi,price_range
0,842,2,20,756,2549,19,0,0,1,1
1,1021,6,905,1988,2631,7,1,1,0,0
2,563,6,1263,1716,2603,9,1,1,0,0

In [22]:
data.shape
x=data.drop(columns=['price_range'])

In [23]:
y=data['price_range']

In [24]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (1.4.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lahiru\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [27]:
x_train.shape,x_test.shape

((1500, 9), (500, 9))

In [28]:
def model_acc(model):
    model.fit(x_train,y_train)
    acc=model.score(x_test,y_test)
    print(str(model)+'-->'+str(acc))

In [29]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
model_acc(lr)

LinearRegression()-->0.20335098481931158

In [30]:
from sklearn.linear_model import Lasso
las=Lasso()
model_acc(las)

Lasso()-->0.2098378011605735

In [31]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
model_acc(dt)

DecisionTreeRegressor()-->0.35183406952179763

In [32]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
model_acc(rf)

RandomForestRegressor()-->0.7074483067665323

In [33]:
pip install tensorflow

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

In [34]:
from sklearn.preprocessing import StandardScaler

In [1]:
pip install tensorflow==2.7.0  # Use the version you want

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#'

In [1]:
pip install tensorflow

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

C:\Users\Lahiru\AppData\Local\Temp\ipykernel_10344\1488012073.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [ ]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:

model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(8, activation='relu', input_shape=(x_train.shape[1],)),
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

WARNING:tensorflow:From c:\Users\Lahiru\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\Lahiru\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [ ]:
model.fit(x_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2, verbose=2)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Lahiru\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Lahiru\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

38/38 - 2s - loss: 0.7507 - accuracy: 0.4842 - val_loss: 0.7492 - val_accuracy: 0.4767 - 2s/epoch - 47ms/step
Epoch 2/100
38/38 - 0s - loss: 0.7244 - accuracy: 0.5008 - val_loss: 0.7283 - val_accuracy: 0.4900 - 140ms/epoch - 4ms/step
Epoch 3/100
38/38 - 0s - loss: 0.7100 - accuracy: 0.5233 - val_loss: 0.7151 - val_accuracy: 0.5067 - 287ms/epoch - 8ms/step
Epoch 4/100
38/38 - 0s - loss: 0.7009 - accuracy: 0.5392 - val_loss: 0.7062 - val_accuracy: 0.5300 - 177ms/epoch - 5ms/step
Epoch 5/100
38/38 - 0s - loss: 0.6942 - accuracy: 0.5567 - val_loss: 0.7004 - val_accuracy: 0.5100 - 119ms/epoch - 3ms/step
Epoch 6/100
38/38 - 0s - loss: 0.6888 - accuracy: 0.5700 - val_loss: 0.6955 - val_accuracy: 0.5100 - 114ms/epoch - 3ms/step
Epoch 7/100
38/38 - 0s - loss: 0.6841 - accuracy: 0.5875 - val_loss: 0.6901 - val_accuracy: 0.5400 - 147ms/epoch - 4ms/step
Epoch 8/100
38/38 - 0s - loss: 0.6799 - accuracy: 0.5925 - val_loss: 0.6857 - val_accuracy: 0.5467 - 148ms/epoch - 4ms/step
Epoch 9/100
38/38 - 0s - loss: 0.6763 - accuracy: 0.6042 - val_loss: 0.6820 - val_accuracy: 0.5867 - 181ms/epoch - 5ms/step
Epoch 10/100
38/38 - 0s - loss: 0.6726 - accuracy: 0.6075 - val_loss: 0.6782 - val_accuracy: 0.5900 - 143ms/epoch - 4ms/step
Epoch 11/100
38/38 - 0s - loss: 0.6687 - accuracy: 0.6225 - val_loss: 0.6745 - val_accuracy: 0.5967 - 135ms/epoch - 4ms/step
Epoch 12/100
38/38 - 0s - loss: 0.6647 - accuracy: 0.6275 - val_loss: 0.6706 - val_accuracy: 0.5933 - 136ms/epoch - 4ms/step
Epoch 13/100
38/38 - 0s - loss: 0.6609 - accuracy: 0.6317 - val_loss: 0.6679 - val_accuracy: 0.6033 - 135ms/epoch - 4ms/step
Epoch 14/100
38/38 - 0s - loss: 0.6570 - accuracy: 0.6325 - val_loss: 0.6655 - val_accuracy: 0.6000 - 141ms/epoch - 4ms/step
Epoch 15/100
38/38 - 0s - loss: 0.6528 - accuracy: 0.6392 - val_loss: 0.6636 - val_accuracy: 0.5933 - 137ms/epoch - 4ms/step
Epoch 16/100
38/38 - 0s - loss: 0.6490 - accuracy: 0.6383 - val_loss: 0.6618 - val_accuracy: 0.6033 - 128ms/epoch - 3ms/step
Epoch 17/100
38/38 - 0s - loss: 0.6447 - accuracy: 0.6417 - val_loss: 0.6602 - val_accuracy: 0.6033 - 165ms/epoch - 4ms/step
Epoch 18/100
38/38 - 0s - loss: 0.6400 - accuracy: 0.6417 - val_loss: 0.6588 - val_accuracy: 0.5967 - 126ms/epoch - 3ms/step
Epoch 19/100
38/38 - 0s - loss: 0.6361 - accuracy: 0.6417 - val_loss: 0.6578 - val_accuracy: 0.5933 - 148ms/epoch - 4ms/step
Epoch 20/100
38/38 - 0s - loss: 0.6311 - accuracy: 0.6467 - val_loss: 0.6566 - val_accuracy: 0.5933 - 147ms/epoch - 4ms/step
Epoch 21/100
38/38 - 0s - loss: 0.6268 - accuracy: 0.6542 - val_loss: 0.6552 - val_accuracy: 0.6000 - 138ms/epoch - 4ms/step
Epoch 22/100
38/38 - 0s - loss: 0.6223 - accuracy: 0.6583 - val_loss: 0.6534 - val_accuracy: 0.5967 - 133ms/epoch - 4ms/step
Epoch 23/100
38/38 - 0s - loss: 0.6185 - accuracy: 0.6617 - val_loss: 0.6516 - val_accuracy: 0.5900 - 137ms/epoch - 4ms/step
Epoch 24/100
38/38 - 0s - loss: 0.6149 - accuracy: 0.6633 - val_loss: 0.6495 - val_accuracy: 0.6000 - 134ms/epoch - 4ms/step
Epoch 25/100
38/38 - 0s - loss: 0.6109 - accuracy: 0.6708 - val_loss: 0.6470 - val_accuracy: 0.6067 - 129ms/epoch - 3ms/step
Epoch 26/100
38/38 - 0s - loss: 0.6079 - accuracy: 0.6683 - val_loss: 0.6443 - val_accuracy: 0.6033 - 141ms/epoch - 4ms/step
Epoch 27/100
38/38 - 0s - loss: 0.6048 - accuracy: 0.6633 - val_loss: 0.6418 - val_accuracy: 0.6033 - 135ms/epoch - 4ms/step
Epoch 28/100
38/38 - 0s - loss: 0.6013 - accuracy: 0.6617 - val_loss: 0.6391 - val_accuracy: 0.6167 - 148ms/epoch - 4ms/step
Epoch 29/100
38/38 - 0s - loss: 0.5985 - accuracy: 0.6658 - val_loss: 0.6360 - val_accuracy: 0.6200 - 137ms/epoch - 4ms/step
Epoch 30/100
38/38 - 0s - loss: 0.5950 - accuracy: 0.6567 - val_loss: 0.6321 - val_accuracy: 0.6200 - 140ms/epoch - 4ms/step
Epoch 31/100
38/38 - 0s - loss: 0.5918 - accuracy: 0.6633 - val_loss: 0.6289 - val_accuracy: 0.6267 - 137ms/epoch - 4ms/step
Epoch 32/100
38/38 - 0s - loss: 0.5879 - accuracy: 0.6658 - val_loss: 0.6245 - val_accuracy: 0.6300 - 147ms/epoch - 4ms/step
Epoch 33/100
38/38 - 0s - loss: 0.5838 - accuracy: 0.6692 - val_loss: 0.6201 - val_accuracy: 0.6233 - 145ms/epoch - 4ms/step
Epoch 34/100
38/38 - 0s - loss: 0.5800 - accuracy: 0.6650 - val_loss: 0.6177 - val_accuracy: 0.6200 - 136ms/epoch - 4ms/step
Epoch 35/100
38/38 - 0s - loss: 0.5763 - accuracy: 0.6667 - val_loss: 0.6136 - val_accuracy: 0.6100 - 141ms/epoch - 4ms/step
Epoch 36/100
38/38 - 0s - loss: 0.5728 - accuracy: 0.6658 - val_loss: 0.6091 - val_accuracy: 0.6067 - 130ms/epoch - 3ms/step
Epoch 37/100
38/38 - 0s - loss: 0.5692 - accuracy: 0.6700 - val_loss: 0.6058 - val_accuracy: 0.6133 - 132ms/epoch - 3ms/step
Epoch 38/100
38/38 - 0s - loss: 0.5661 - accuracy: 0.6700 - val_loss: 0.6029 - val_accuracy: 0.6200 - 139ms/epoch - 4ms/step
Epoch 39/100
38/38 - 0s - loss: 0.5631 - accuracy: 0.6733 - val_loss: 0.5981 - val_accuracy: 0.6267 - 167ms/epoch - 4ms/step
Epoch 40/100
38/38 - 0s - loss: 0.5601 - accuracy: 0.6750 - val_loss: 0.5949 - val_accuracy: 0.6300 - 135ms/epoch - 4ms/step
Epoch 41/100
38/38 - 0s - loss: 0.5573 - accuracy: 0.6767 - val_loss: 0.5913 - val_accuracy: 0.6300 - 139ms/epoch - 4ms/step
Epoch 42/100
38/38 - 0s - loss: 0.5547 - accuracy: 0.6800 - val_loss: 0.5888 - val_accuracy: 0.6367 - 139ms/epoch - 4ms/step
Epoch 43/100
38/38 - 0s - loss: 0.5526 - accuracy: 0.6792 - val_loss: 0.5851 - val_accuracy: 0.6467 - 133ms/epoch - 4ms/step
Epoch 44/100
38/38 - 0s - loss: 0.5496 - accuracy: 0.6775 - val_loss: 0.5827 - val_accuracy: 0.6433 - 132ms/epoch - 3ms/step
Epoch 45/100
38/38 - 0s - loss: 0.5471 - accuracy: 0.6742 - val_loss: 0.5804 - val_accuracy: 0.6633 - 123ms/epoch - 3ms/step
Epoch 46/100
38/38 - 0s - loss: 0.5452 - accuracy: 0.6817 - val_loss: 0.5779 - val_accuracy: 0.6633 - 128ms/epoch - 3ms/step
Epoch 47/100
38/38 - 0s - loss: 0.5429 - accuracy: 0.6758 - val_loss: 0.5764 - val_accuracy: 0.6633 - 117ms/epoch - 3ms/step
Epoch 48/100
38/38 - 0s - loss: 0.5407 - accuracy: 0.6858 - val_loss: 0.5736 - val_accuracy: 0.6733 - 199ms/epoch - 5ms/step
Epoch 49/100
38/38 - 0s - loss: 0.5385 - accuracy: 0.6867 - val_loss: 0.5724 - val_accuracy: 0.6700 - 115ms/epoch - 3ms/step
Epoch 50/100
38/38 - 0s - loss: 0.5365 - accuracy: 0.6858 - val_loss: 0.5706 - val_accuracy: 0.6700 - 136ms/epoch - 4ms/step
Epoch 51/100
38/38 - 0s - loss: 0.5347 - accuracy: 0.6850 - val_loss: 0.5683 - val_accuracy: 0.6700 - 145ms/epoch - 4ms/step
Epoch 52/100
38/38 - 0s - loss: 0.5327 - accuracy: 0.6917 - val_loss: 0.5658 - val_accuracy: 0.6700 - 133ms/epoch - 4ms/step
Epoch 53/100
38/38 - 0s - loss: 0.5306 - accuracy: 0.6917 - val_loss: 0.5651 - val_accuracy: 0.6667 - 107ms/epoch - 3ms/step
Epoch 54/100
38/38 - 0s - loss: 0.5288 - accuracy: 0.6967 - val_loss: 0.5628 - val_accuracy: 0.6700 - 123ms/epoch - 3ms/step
Epoch 55/100
38/38 - 0s - loss: 0.5268 - accuracy: 0.6983 - val_loss: 0.5608 - val_accuracy: 0.6733 - 129ms/epoch - 3ms/step
Epoch 56/100
38/38 - 0s - loss: 0.5251 - accuracy: 0.6992 - val_loss: 0.5600 - val_accuracy: 0.6700 - 130ms/epoch - 3ms/step
Epoch 57/100
38/38 - 0s - loss: 0.5233 - accuracy: 0.7017 - val_loss: 0.5575 - val_accuracy: 0.6767 - 118ms/epoch - 3ms/step
Epoch 58/100
38/38 - 0s - loss: 0.5215 - accuracy: 0.7083 - val_loss: 0.5565 - val_accuracy: 0.6700 - 135ms/epoch - 4ms/step
Epoch 59/100
38/38 - 0s - loss: 0.5195 - accuracy: 0.7058 - val_loss: 0.5555 - val_accuracy: 0.6667 - 132ms/epoch - 3ms/step
Epoch 60/100
38/38 - 0s - loss: 0.5178 - accuracy: 0.7083 - val_loss: 0.5521 - val_accuracy: 0.6833 - 135ms/epoch - 4ms/step
Epoch 61/100
38/38 - 0s - loss: 0.5160 - accuracy: 0.7100 - val_loss: 0.5516 - val_accuracy: 0.6833 - 126ms/epoch - 3ms/step
Epoch 62/100
38/38 - 0s - loss: 0.5140 - accuracy: 0.7092 - val_loss: 0.5492 - val_accuracy: 0.6867 - 134ms/epoch - 4ms/step
Epoch 63/100
38/38 - 0s - loss: 0.5122 - accuracy: 0.7117 - val_loss: 0.5478 - val_accuracy: 0.6833 - 118ms/epoch - 3ms/step
Epoch 64/100
38/38 - 0s - loss: 0.5104 - accuracy: 0.7100 - val_loss: 0.5464 - val_accuracy: 0.6833 - 139ms/epoch - 4ms/step
Epoch 65/100
38/38 - 0s - loss: 0.5086 - accuracy: 0.7117 - val_loss: 0.5450 - val_accuracy: 0.6800 - 134ms/epoch - 4ms/step
Epoch 66/100
38/38 - 0s - loss: 0.5063 - accuracy: 0.7167 - val_loss: 0.5425 - val_accuracy: 0.6900 - 126ms/epoch - 3ms/step
Epoch 67/100
38/38 - 0s - loss: 0.5041 - accuracy: 0.7142 - val_loss: 0.5418 - val_accuracy: 0.6900 - 137ms/epoch - 4ms/step
Epoch 68/100
38/38 - 0s - loss: 0.5024 - accuracy: 0.7200 - val_loss: 0.5393 - val_accuracy: 0.6867 - 148ms/epoch - 4ms/step
Epoch 69/100
38/38 - 0s - loss: 0.5003 - accuracy: 0.7242 - val_loss: 0.5386 - val_accuracy: 0.6867 - 153ms/epoch - 4ms/step
Epoch 70/100
38/38 - 0s - loss: 0.4981 - accuracy: 0.7208 - val_loss: 0.5363 - val_accuracy: 0.6933 - 112ms/epoch - 3ms/step
Epoch 71/100
38/38 - 0s - loss: 0.4961 - accuracy: 0.7300 - val_loss: 0.5347 - val_accuracy: 0.6900 - 133ms/epoch - 3ms/step
Epoch 72/100
38/38 - 0s - loss: 0.4941 - accuracy: 0.7283 - val_loss: 0.5339 - val_accuracy: 0.6933 - 126ms/epoch - 3ms/step
Epoch 73/100
38/38 - 0s - loss: 0.4922 - accuracy: 0.7300 - val_loss: 0.5319 - val_accuracy: 0.6967 - 140ms/epoch - 4ms/step
Epoch 74/100
38/38 - 0s - loss: 0.4899 - accuracy: 0.7308 - val_loss: 0.5308 - val_accuracy: 0.6933 - 124ms/epoch - 3ms/step
Epoch 75/100
38/38 - 0s - loss: 0.4881 - accuracy: 0.7292 - val_loss: 0.5283 - val_accuracy: 0.6967 - 132ms/epoch - 3ms/step
Epoch 76/100
38/38 - 0s - loss: 0.4856 - accuracy: 0.7325 - val_loss: 0.5275 - val_accuracy: 0.7000 - 129ms/epoch - 3ms/step
Epoch 77/100
38/38 - 0s - loss: 0.4839 - accuracy: 0.7375 - val_loss: 0.5251 - val_accuracy: 0.7033 - 131ms/epoch - 3ms/step
Epoch 78/100
38/38 - 0s - loss: 0.4813 - accuracy: 0.7317 - val_loss: 0.5234 - val_accuracy: 0.7067 - 114ms/epoch - 3ms/step
Epoch 79/100
38/38 - 0s - loss: 0.4791 - accuracy: 0.7333 - val_loss: 0.5208 - val_accuracy: 0.7067 - 166ms/epoch - 4ms/step
Epoch 80/100
38/38 - 0s - loss: 0.4772 - accuracy: 0.7392 - val_loss: 0.5196 - val_accuracy: 0.7067 - 120ms/epoch - 3ms/step
Epoch 81/100
38/38 - 0s - loss: 0.4750 - accuracy: 0.7417 - val_loss: 0.5168 - val_accuracy: 0.7133 - 126ms/epoch - 3ms/step
Epoch 82/100
38/38 - 0s - loss: 0.4725 - accuracy: 0.7475 - val_loss: 0.5161 - val_accuracy: 0.7100 - 132ms/epoch - 3ms/step
Epoch 83/100
38/38 - 0s - loss: 0.4705 - accuracy: 0.7458 - val_loss: 0.5126 - val_accuracy: 0.7167 - 113ms/epoch - 3ms/step
Epoch 84/100
38/38 - 0s - loss: 0.4682 - accuracy: 0.7500 - val_loss: 0.5108 - val_accuracy: 0.7233 - 120ms/epoch - 3ms/step
Epoch 85/100
38/38 - 0s - loss: 0.4659 - accuracy: 0.7517 - val_loss: 0.5085 - val_accuracy: 0.7300 - 141ms/epoch - 4ms/step
Epoch 86/100
38/38 - 0s - loss: 0.4637 - accuracy: 0.7508 - val_loss: 0.5053 - val_accuracy: 0.7267 - 144ms/epoch - 4ms/step
Epoch 87/100
38/38 - 0s - loss: 0.4607 - accuracy: 0.7533 - val_loss: 0.5035 - val_accuracy: 0.7167 - 125ms/epoch - 3ms/step
Epoch 88/100
38/38 - 0s - loss: 0.4584 - accuracy: 0.7558 - val_loss: 0.5012 - val_accuracy: 0.7267 - 116ms/epoch - 3ms/step
Epoch 89/100
38/38 - 0s - loss: 0.4558 - accuracy: 0.7633 - val_loss: 0.4984 - val_accuracy: 0.7233 - 137ms/epoch - 4ms/step
Epoch 90/100
38/38 - 0s - loss: 0.4532 - accuracy: 0.7675 - val_loss: 0.4960 - val_accuracy: 0.7200 - 136ms/epoch - 4ms/step
Epoch 91/100
38/38 - 0s - loss: 0.4506 - accuracy: 0.7683 - val_loss: 0.4935 - val_accuracy: 0.7233 - 128ms/epoch - 3ms/step
Epoch 92/100
38/38 - 0s - loss: 0.4478 - accuracy: 0.7725 - val_loss: 0.4911 - val_accuracy: 0.7300 - 129ms/epoch - 3ms/step
Epoch 93/100
38/38 - 0s - loss: 0.4444 - accuracy: 0.7758 - val_loss: 0.4889 - val_accuracy: 0.7300 - 134ms/epoch - 4ms/step
Epoch 94/100
38/38 - 0s - loss: 0.4416 - accuracy: 0.7775 - val_loss: 0.4865 - val_accuracy: 0.7467 - 128ms/epoch - 3ms/step
Epoch 95/100
38/38 - 0s - loss: 0.4388 - accuracy: 0.7825 - val_loss: 0.4832 - val_accuracy: 0.7533 - 125ms/epoch - 3ms/step
Epoch 96/100
38/38 - 0s - loss: 0.4356 - accuracy: 0.7842 - val_loss: 0.4803 - val_accuracy: 0.7500 - 136ms/epoch - 4ms/step
Epoch 97/100
38/38 - 0s - loss: 0.4328 - accuracy: 0.7883 - val_loss: 0.4788 - val_accuracy: 0.7633 - 126ms/epoch - 3ms/step
Epoch 98/100
38/38 - 0s - loss: 0.4300 - accuracy: 0.7883 - val_loss: 0.4760 - val_accuracy: 0.7600 - 140ms/epoch - 4ms/step
Epoch 99/100
38/38 - 0s - loss: 0.4266 - accuracy: 0.7925 - val_loss: 0.4732 - val_accuracy: 0.7633 - 126ms/epoch - 3ms/step
Epoch 100/100
38/38 - 0s - loss: 0.4240 - accuracy: 0.7950 - val_loss: 0.4717 - val_accuracy: 0.7600 - 127ms/epoch - 3ms/step

In [ ]:
test_loss, test_accuracy = model.evaluate(x_test_scaled, y_test)
print(f"\nTest Accuracy: {test_accuracy}")

16/16 [==============================] - 0s 2ms/step - loss: 0.4623 - accuracy: 0.7560

Test Accuracy: 0.7559999823570251

In [ ]:
model.save_weights('mobile_price_prediction_weights.h5')

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
rf = RandomForestRegressor()
parameters = {
    'n_estimators':[10,50,100],
    'criterion':['squared_error','absolute_error','poisson']
}
grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)
grid_obj.fit(x_train, y_train)  # Assuming you have X_train and y_train defined

# Access the best estimator after fitting
best_model = grid_obj.best_estimator_
#grid_fit = grid_obj.best_estimator_
#best_model= grid_fit

In [ ]:
best_model.score(x_test, y_test)

0.6745015681003584

In [ ]:
import pickle 
with open('predictor.pickle','wb') as file:
    pickle.dump(best_model,file)

In [ ]:
x_train.columns

Index(['battery_power', 'pc', 'px_height', 'px_width', 'ram', 'talk_time',
       'three_g', 'touch_screen', 'wifi'],
      dtype='object')

In [ ]:
best_model.predict([[1000,2,400,780,8000,20,1,0,1]])

c:\Users\Lahiru\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.99])